<div class="col-md-12"><div ng-repeat="subCategory in subCategories" class="panel panel-default">
    <div ng-click="subCategory.show = !subCategory.show" class="panel-heading">{{subCategory.name}} V </div>
    <div ng-show="subCategory.show" class=" panel-body">
        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold; white-space: nowrap">

                <!-- username header -->
                <td style="width:40%">Roll</td>

                <!-- status header -->
                <td style="width:30%">Name</td>

                <!-- mark header -->
                <td style="width:30%">
                    Marks
                    <form editable-form name="markform" onaftersave="saveSubCategory(subCategory)" ng-show="markform.$visible">
                        <button type="submit" ng-disabled="markform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="markform.$waiting" ng-click="markform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <button class="btn btn-default" ng-show="!markform.$visible" ng-click="markform.$show()">
                        edit
                    </button>
                </td>
            </tr>

            <tr ng-repeat="mark in subCategory.listOfMark">
                <td>{{mark.studentRoll}}</td>
                <td>{{mark.studentName}}</td>
                <td>
                    <!-- editable mark (select-remote) -->
        <span editable-text="mark.mark" e-name="mark" e-form="markform">
          {{ mark.mark }}
        </span>
                </td>
            </tr>
        </table>
    </div>

</div></div>