<div ng-controller="CourseCtrl">

    <div class="panel panel-default col-md-12">
        <div class="form-group col-md-12" ng-show="!viewIfCreateCourse()">
            <!-- Button -->
            <div class="col-sm-12 controls">
                <a id="view" href="" class="btn btn-success" ng-click="toggleViewCreateCourse()">Create Course</a>
            </div>
        </div>

        <div class="form-group col-md-12" ng-show="viewIfCreateCourse()">
            <!-- Button -->
            <div class="col-sm-offset-4 controls pull-right">
                <a id="hide" href="" class="btn btn-success" ng-click="toggleViewCreateCourse()">Hide</a>
            </div>
        </div>

        <ng-include src="'views/create_course.html'" ng-show="viewIfCreateCourse()"></ng-include>
    </div>

    <div>
        <h3 class="col-md-4">All courses</h3>
        <span class="col-md-offset-4 search">Search: <input ng-model="query"></span>
        <table id="courses-table" class="table">
            <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Credits</th>
                <th>Teacher Assigned</th>
                <th>Batch</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in courses | filter : query">
                <td><a href="" editable-text="course.courseName" onaftersave="updateCourse(course)">{{course.courseName}}</a></td>
                <td><a href="" editable-text="course.courseCode" onaftersave="updateCourse(course)">{{course.courseCode}}</a></td>
                <td><a href="" editable-text="course.credit" onaftersave="updateCourse(course)">{{course.credit}}</a></td>
                <td><a href="" editable-text="course.teacherAssigned" onaftersave="updateCourse(course)" e-typeahead="teacher for teacher in teachers| filter:$viewValue">{{course.teacherAssigned || "add teacher"}}</a></td>
                <td><a href="" editable-text="course.semester" onaftersave="updateCourse(course)" e-typeahead="semester for semester in semesters" onbeforesave="validateSemester($data)">{{course.semester || "add semester"}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
