<div class="panel-body col-md-9 right-bar" ng-controller="CourseCtrl">
    <h2>Create Course</h2>
        <form id="create-course-form" class="form-horizontal" role="form">
            <div style="margin-bottom: 25px" class="input-group">
                Course Name:
                <input id="name" ng-model="courseName" type="text" class="form-control" placeholder="Course Name" required>
            </div>

            <div style="margin-bottom: 25px" class="input-group">
                Course Id:
                <input id="id" ng-model="courseId" type="text" class="form-control" name="user.username" value="" placeholder="Course Id" required>
            </div>

            <div style="margin-bottom: 25px" class="input-group">
                Credits:
                <input id="credit" ng-model="courseCredit" type="password" class="form-control" name="password" placeholder="Credits" required>
            </div>

         <div style="margin-top:10px" class="form-group">
                <!-- Button -->
                <div class="col-sm-12 controls">
                    <a id="btn-create" href="" class="btn btn-success" ng-click="createCourse()">Create Course</a>
                </div>
            </div>
        </form>
</div>