<div class="container">
    <div class="panel panel-default col-md-3 left-bar">
        <div class="panel-body">

            <div class="btn-group-vertical" role="group" aria-label="button">


                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Course 1</a></li>
                        <li><a href="#">Course 2</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default">Notification</button>

            </div>

        </div>
    </div>

    <div class="panel panel-default col-md-9 right-bar">
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>