<div ng-controller="TeacherCtrl">
    <div view-courses-directive=""></div>
    <div class="col-md-12" ng-if="selectedCourse">
        <!--<h3>{{selectedCourse.courseName}}</h3>--><br>

        <ng-include src="'views/category_mark_distribution.html'"></ng-include>


        <div class="col-md-4 panel panel-default">
            Other Options
        </div>

        <div class="col-md-12">
            <ng-include src="'views/category_select.html'"></ng-include>

            <div ng-show="selectedCategory">
                <ng-include src="'views/category_info.html'"></ng-include>
                <ng-include src="'views/subcategory_view.html'"></ng-include>
            </div>
        </div>
    </div>
</div>