<div ng-controller="UserCtrl">

    <div class="panel panel-default col-md-12">
        <div class="form-group col-md-12" ng-show="!viewIfCreateUser()">
            <!-- Button -->
            <div class="col-sm-12 controls">
                <a id="view" href="" class="btn btn-success" ng-click="toggleViewCreateUser()">Create User</a>
            </div>
        </div>

        <div class="form-group col-md-12" ng-show="viewIfCreateUser()">
            <!-- Button -->
            <div class="col-sm-offset-4 controls pull-right">
                <a id="hide" href="" class="btn btn-success" ng-click="toggleViewCreateUser()">Hide</a>
            </div>
        </div>

        <ng-include src="'views/create_user.html'" ng-show="viewIfCreateUser()"></ng-include>
    </div>


    <ul class="nav nav-tabs col-md-8 thick">
        <li role="presentation" ng-if="authorizer.createStudent(roleType)" ng-class="{active : selectedItem == 'student'}" ng-click="selectItem('student')"><a
                href="">Students</a></li>
        <li role="presentation" ng-if="authorizer.createTeacher(roleType)" ng-class="{active : selectedItem == 'teacher'}" ng-click="selectItem('teacher')"><a
                href="">Teachers</a></li>
        <li role="presentation" ng-if="authorizer.createStaff(roleType)" ng-class="{active : selectedItem == 'staff'}" ng-click="selectItem('staff')"><a
                href="">Staff</a></li>
        <li role="presentation" ng-if="authorizer.createAdmin(roleType)" ng-class="{active : selectedItem == 'admin'}" ng-click="selectItem('admin')"><a
                href="">Admin</a></li>
    </ul>
    <div class="col-md-offset-4">
        Search
        <input ng-model="query">
    </div>

    <ng-include src="'views/all_users.html'" ng-if="selectedItem!='student'"></ng-include>
    <ng-include src="'views/all_students.html'" ng-if="selectedItem==='student'"></ng-include>
</div>
