.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.left-bar
{
    padding: 80px 5px 5px;
}

.right-bar
{
    margin-top: 80px;
    min-height: 550px;
    padding: 20px;
}

.thick
{
    font-weight: 700;
}

.red
{
    color: #fc8c84;
}