.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.left-bar
{
    padding: 20px;
    padding-top: 50px;
    min-height: 550px;
}

.right-bar
{
    padding: 20px;
    padding-top: 50px;
    min-height: 550px;
}